In [2]:
#1) assignment3

# Q1
s="hello python"
a=list(s)
count=0
#print(a)
for i in a:
 count +=1
print(count)

12

In [5]:
# 2)
c = 'hello python'
count=0
for i in s:
 count+=1
print(count)

12

In [6]:
# 3)
s= 'Find the length of the string'
b=list(enumerate(s))
b[-1][0]+1

29

In [7]:
# 4) PRINT 'are' number of times it appears
a="how are you and how are your parents and how are your daughters/sons"
a.count(" are ") * ' are '

' are  are  are '

In [8]:
# 5)
a="how are you and how are your parents and how are your daughters/sons"
for i in a.split(' '):
 if (i=='are'):
  print(i)

are
are
are

In [9]:
#6)
s = 'All apples are red in color and round in shape'
count=0
for i in s:
#print(i)
 if((i=='A') or (i =='a')):
   count+=1
print(count)

5

In [10]:
#7) This program converts string="HYderabad" to lowercase

s= 'HYderabaD'
j=0
for i in s:
#print(ord(s[j]))
  if(ord(s[j])<=90):
    b=ord(s[j])
    print(chr(b+32),end="")
  else:
    b=ord(s[j])
    print(chr(b),end="")
  j+=1

#hr(72)
# ord()

hyderabad

In [12]:
# 8) Convert any given string to lower case

s=input("Enter the string to convert to lowercase : ")
j=0
for i in s:
  if((ord(s[j])<=90) and (ord(s[j])!=32)):
    b=ord(s[j])
    print(chr(b+32),end="")
  else:
    b=ord(s[j])
    print(chr(b),end="")
  j+=1

Enter the string to convert to lowercase : SHAZAN ANSAR
shazan ansar

In [13]:
# 9) Convert any given string to uppercase

s=input("Enter the string to convert to uppercase : ")
j=0
for i in s:
  if((ord(s[j])>=97) and (ord(s[j])!=32)):
    b=ord(s[j])
    print(chr(b-32),end="")
  else:
    b=ord(s[j])
    print(chr(b),end="")
  j+=1

Enter the string to convert to uppercase : richansar will be future brand
RICHANSAR WILL BE FUTURE BRAND

In [14]:
# 10)
s1=input("Enter the string: ")
s=list(s1.split(" "))
for i in range(len(s)):
  b= ord(s[i][0])
  if(b in range(65,90)):
    print(f"{s[i]} is Uppercase")
  elif(b in range(97,122)):
    print(f"{s[i]} is lowercase")
  else:
    print(f"{s1} is none")

Enter the string: Ansar to shazan
Ansar is Uppercase
to is lowercase
shazan is lowercase

In [17]:
#11) program checks if identifier is valid import keyword

import keyword
k=keyword.kwlist
a=input("Enter the idenfier: ")
if a in k:
  print("These are keywords,try another word")
else: 
  flag=0
  for i in a: #32-64 special chAR,special symbols
    if(ord(a[0])in range(32,65) or ord(a[0])in range(91,95) or ord(i)!=32):
      flag=0
    elif(ord(i)in range(65,91)) or (ord(i) in range(97,123)) or (ord(i))==137 or (ord(i)in range(48,58)):
      flag=1 
  if flag:
    print("valid") 
  else:
    print("invalid")

Enter the idenfier: @shazan
invalid

In [19]:
#12) 

a=input("Enter the string: ")
flag=0
for i in range(len(a)):
  if(ord(a[i]) in range(65,91)or(ord(a[i]) in range(97,123))): 
    flag=1
  else: 
    flag=0
  break 
if flag:
  print(f"{a} is alpha") 
else:
  print(f"{a} is alphanum")

Enter the string: 011shazan022
011shazan022 is alphanum

In [21]:
# 13) 

a=[0,1,2,[4,2,0,3,1],5,1,2,8,9] 
b= int(input("enter a number: ")) #type(a)

for i in range(len(a)) :
  if(a[i]==b): 
    print(f"a[{i}]")
  if (type(a[i])==list):
    for j in range(len(a[i])):
      if (a[i][j]==b): 
        print(f"a[{i}][{j}]")

enter a number: 3
a[3][3]

In [22]:
 #14)
 
a=[0,1,2,[4,3],5,1,8,9] 
for i in range(len(a)):
  if(a[i]==1): 
    print([i])

[1]
[5]

In [24]:
# 15) Print factors of anumber

a=int(input("enter number")) 
for i in range(1,a+1):
  if ((a%i)==0): 
    print(i)

enter number9
1
3
9