PATTERN LOOP Q/A

In [ ]:
#1)
#    *
#   **
#  ***
# ****
#*****

for i in range(1,6):
  print(' '*(5-i)+ '*'*i)

    *
   **
  ***
 ****
*****

In [ ]:
#2)
#    *    
#   ***   
#  *****  
# ******* 
#*********

i = 4
for j in range(1,10,2):
 print(' '*i,'*'*j)
 i=i-1

     *
    ***
   *****
  *******
 *********

In [ ]:
#3)
# *********
#  *******
#   *****
#    ***
#     *
a =5
for i in range(5):
  print(' ' * i + '*' * (2*a-1-2*i))

*********
 *******
  *****
   ***
    *

In [ ]:
#4)
#     *    
#    ***   
#   *****  
#  ******* 
# *********
#  *******
#   *****
#    ***
#     *

'''upper half'''
for i in range(5):
  print(' '*(4-i) +'*'*(2*i+1))

'''lower half'''
for i in range(4,-1,-1):
  print(' '*(4-i)+'*'*(2*i+1))

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [ ]:
#5)
#2 9
#3 8
#4 7
#5 6
#6 5
#7 4
#8 3
#9 2
#10 1
for a in range(2,11):
  b = 11 - a
  print(a,b)

2 9
3 8
4 7
5 6
6 5
7 4
8 3
9 2
10 1

In [ ]:
#6)
#1
#22
#333
#4444
#55555
for i in range(1,6):
  print(str(i)*i)

1
22
333
4444
55555

In [ ]:
#7)
#54321
#4321
#321
#21
#1
for i in range(5, 0, -1):
  for j in range(i, 0, -1):
   print(j, end='')
  print()

54321
4321
321
21
1

In [ ]:
#8)
#1  
#2  3  
#4  5  6  
#7  8  9  10 
#11 12 13 14 15
#16 17 18 19 20 21
a = 1
for i in range(6):
  for j in range(i+1):
     print(a, end=' ')
     a += 1 
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

In [ ]:
#9)
#1  2  3  4  5  
#6  7  8  9  
#10 11 12 
#13 14 
#15 
a = 1
for i in range(5, 0, -1):
  for j in range(i):
    print(a, end=" ")
    a += 1
  print()

1 2 3 4 5
6 7 8 9
10 11 12
13 14
15

In [ ]:
#10)
#0 x 9 + 8 = 8
#9 x 9 + 7 = 88
#98 x 9 + 6 = 888
#987 x 9 + 5 = 8888
#9876 x 9 + 4 = 88888
#98765 x 9 + 3 = 888888
#987654 x 9 + 2 = 8888888
#9876543 x 9 + 1 = 88888888
#98765432 x 9 + 0 = 888888888
i = ''
print('0 x 9 + 8 = 8')
for  j in range(7,-1,-1):
  i+=str(j+2)
  print(f'{i} x 9 + {j} = {int(i)*9+j}')

0 x 9 + 8 = 8
9 x 9 + 7 = 88
98 x 9 + 6 = 888
987 x 9 + 5 = 8888
9876 x 9 + 4 = 88888
98765 x 9 + 3 = 888888
987654 x 9 + 2 = 8888888
9876543 x 9 + 1 = 88888888
98765432 x 9 + 0 = 888888888

In [ ]:
#11)
#1 
#2 4 
#3 6 9 
#4 8 12 16 
#5 10 15 20 25 
#6 12 18 24 30 36 
#7 14 21 28 35 42 49 
#8 16 24 32 40 48 56 64 
#9 18 27 36 45 54 63 72 81 
#10 20 30 40 50 60 70 80 90 100
for i in range(1, 11):        
  for j in range(1, i+1):   
    print(i*j, end=" ")   
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [ ]:
#12)
#            1  
#         2  3  
#      4  5  6  
#   7  8  9  10 
#11 12 13 14 15 
num = 1
for i in range(1, 6):
    for j in range(1, 6-i):
        print(" ", end=" ")
    for k in range(1, i+1):
        print(num, end=" ")
        num += 1
    print()

        1
      2 3
    4 5 6
  7 8 9 10
11 12 13 14 15

In [ ]:
#13)
# A  
# A A 
# A A A 
# A A A A 
# A A A A A
for i in range(1, 6):
  for j in range(i):
      print('A', end=' ')
  print()

A
A A
A A A
A A A A
A A A A A

In [ ]:

#14)
#A
#AB
#ABC
#ABCD
#ABCDE

for i in range(65, 70):
  for j in range(65, i+1):
     print(chr(j), end='')
  print()

A
AB
ABC
ABCD
ABCDE

In [ ]:
#15)
#   A
#  ABC
# ABCDE

n = 3 

for i in range(1, n+1):
    for j in range(n-i):
        print(" ", end="")
    for j in range(2*i-1):
        print(chr(65+j), end="")
    print()

  A
 ABC
ABCDE