# Python Assessment

In [ ]:
#1) p, s = 9, 8

p *= s #p = 9 * 8 = 72
p -= s #p =72 - 8 = 64
p = p/s #p = 64 / 8 = 8.0
p >>= s  # p = p >> s => p = 8 >> 8 = 0

p = p << s  # p = p << s => p = 0 << 8 = 0

In [ ]:
#2)
'''
This is a multiline comment.
It can span multiple lines.
It is enclosed in triple quotes.
'''

print("Hello, world!")

Hello, world!

In [ ]:
#3)
S, t = 3, 4
S %= t

In [ ]:
#4)
A = 8
B = 10
res1 = A&B
res2 = A|B

print('res1:',A&B)
print('res2:',A|B)

res1: 8
res2: 10

In [ ]:
#5)
#Command to find the length of the string?

a = 'hi shazan'
#print(len(a))
count = 0
for i in a:
  count+=1
print(count)

9

In [ ]:
#6)
#Which of the following is an invalid identifier?
#a. a123
#b. _n_9
#c. All_is_well
#d. aB1!  

'''Option d, aB1!, is an invalid identifier because it contains an exclamation mark (!), 
which is not allowed in identifiers'''

In [ ]:
#7)
#Give an example for each of these for a 4 words sentence -
#Title Case, CamelCase, SnakeCase?
# 4-word sentence
a = "this is a sample sentence"

# title case
title_case = a.title()
print(title_case)  

# camel case
words = a.split()
camel_case = words[0] + ''.join(word.title() for word in words[1:])
print(camel_case)  

# snake case
snake_case = '_'.join(words)
print(snake_case)

This Is A Sample Sentence
thisIsASampleSentence
this_is_a_sample_sentence

In [ ]:
#8)
a, b , c = 1, 2, 3
#What is the output for b*(c+a)?
b*(c+a)

8

In [ ]:
#9)
str1 = 'how are you'
#Print ‘are’ only.
print(str1[4:7])

are

In [ ]:

str1 = 'how are you and how are your parents and how are your girlfriends/boyfriends?'

#str1.count(' are ')*' are '
word = input ('give a word: ')
for i in str1.split(' '):
  if i == 'are':
    print(i)

are
are
are

In [ ]:
#10)
#Write the command to get only imaginary numbers in the code below?
import cmath
x = 5
y = 5
z = complex(x,y)
z

(5+5j)

In [ ]:
#11)

bool( { } )#bool( { } ) will return False,represents an empty dictionary is considered a false value

bool(False)#bool(False) will also return False cuz already a boolean value

False

In [ ]:
#12
#What are the data types of following respectively?
a = (1,[2,3])
print(type(a))    # tuple

b = [1,2,'f']
print(type(b))    # list

c = 'hey1'
print(type(c))    # str

d = 123
print(type(d))    # int

e = {(1,2):['e']}
print(type(e))    # dict

<class 'tuple'>
<class 'list'>
<class 'str'>
<class 'int'>
<class 'dict'>

In [ ]:
#13
#What is the output for the code below?
print(10 == 9)

False

In [ ]:
#14
#What is the output for the below code?
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
#15
#Convert the words ‘miss’ and ‘python’  to ‘mam’ and ‘C’ respectively without redeclaring the string?
Str2 = 'hey miss! Welcome to python'
Str2 = Str2.replace('miss', 'mam').replace('python', 'C')
print(Str2)

hey mam! Welcome to C

In [ ]:
#16
#Convert the string to title case and lower case?
Str3 = 'HYderabaD'
a = Str3.title()
b = Str3.lower()

print(a)
print(b)

Hyderabad
hyderabad

In [ ]:
#17
#Print how many numbers of ‘ A ‘ / ‘ a ‘  are there in the string without counting manually?
Str4 = 'All apples are red in color and round in shape'
A = Str4.count('A')
a = Str4.count('a')
print(A)
print(a)

1
4

In [ ]:
#18
#What is the output for the code below?
x = {1,2,3,4,5}
y = {4,5,6,7,8}

print(x+y) 
#shows type error cuz both are sets

TypeError: ignored

In [ ]:
#19
x = {1,2,3,4,5}
y = {4,5,6,7,9}
print( x | y )

{1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
#20
#What are the outputs for the code below?
print(0 | True)
print(0 == True)
print('19' == 19 )

1
False
False

In [ ]:
#21
#Write a python code to add first n numbers?

n = int(input('enter a positive integer: '))

sum_n = (n * (n + 1)) // 2

print('the sum of the first', n, sum_n)

enter a positive integer: 9
the sum of the first 9 45

In [ ]:
#22
#Write a code to loop over the items in fruits list?
fruits = ["apple", "orange", "kiwi"]

for fruit in fruits:
    print(fruit)

apple
orange
kiwi

In [ ]:
#23
#Write a python code to print 6 tables using for and while loop
i = 0
while i <= 10:
  print(f'6 x {i} = {6*i}')
  i+=1

6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
#24
#Write a command to get the value of this  64 ?
#6 ** 4
import math
math.pow(6,4)

1296.0

In [ ]:
#25
#What will be the output of the below given code?

colors = ['white', 'Black', 'Grey']
x = 'Red' not in colors
print(x)

True

In [6]:
#26. 
#What is the output of print tuple[0] if tuple = ( 'abcd', 786 , 2.23, 'john', 70.2 )?

if tuple == ( 'abcd', 786 , 2.23, 'john', 70.2 ):

 print (tuple[0])

In [ ]:
#27. 
#What is the output of L[-2] if L = [1,2,3]?

'''gives output 2'''

In [ ]:
#29

#Which is mutable and immutable in List and Tuple?
'''In Python, lists are mutable while tuples are immutable.

Lists can be modified after they are created by adding, removing, or modifying elements using methods, 
Tuples, on the other hand, cannot be modified once they are created.
If you need to modify a tuple, you must create a new tuple with the modified values. '''

In [ ]:
#30

#What is the output of tiny * 3,  if tiny = [ 123, 'john' ]?

tiny = [123, 'john']
result = tiny * 3
print(result)

[123, 'john', 123, 'john', 123, 'john']

In [ ]:
#31

#Which is the function to check in a string that all characters are alphanumeric?

'''isalnum() method to check if a string contains only alphanumeric characters'''

In [ ]:
32

#What is the command line to get the output as ‘heshewe’?
a = ['he', 'she', 'we']


result = a[0] + a[1] + a[2]
print(result)

heshewe

In [ ]:
#33

#What is the position of number 3?
L = [ 1, 2, 1, [ 2, 3 ], 5 ]
l = L[3][1]
print(l)
print('L[3][1]')

3
L[3][1] 3

In [ ]:
L = [ 1, 2, 1, [ 2, 3 ], 5 ]
l = L[3][1]
print('l=',l)

i=set()

for j in L:
  if L.count(j) > 1:
    i.add(j)
if i:
  print('duplicates are',i)
else:
   print('no duplicates')

l= 3
duplicates are {1}

In [ ]:
#34

#Calculate the total number of 9 in the below-given list? And State the predefined function to
#calculate the number of 9’s?


List1 = [9, 90, 99, 999, 9999]
total_nines = 0
for num in List1:
    for i in str(num):
        if i == '9':
            total_nines += 1
print(f"Total number of 9's in the list: {total_nines}")

Total number of 9's in the list: 11

In [ ]:
#35
#What is the result of this code?
nums = [10, 9, 8, 7, 6, 5]
nums[0] = nums[1] - 5
if 4 in nums: 
  print(nums[3])
else: 
  print(nums[4])

7

In [ ]:
#36
#What is the result of this code?
nums = [9, 8, 7, 6, 5]
nums.append(4)
nums.insert(2, 11)
print(len(nums))

7

In [ ]:
#37
#What is the result of this code?
list = [1, 1, 2, 3, 5, 8, 13]
print(list[list[4]])

8

In [ ]:
#38
#Which of the following is a false statement in python?
int(144)==144   #true
int('144')==144 #true
int(144.0)==144 #true
#None of the above = ''' false

True

In [ ]:
#39
#What is the output of [ 1, 2, 3 ] + [ 4, 5, 6 ] ?
[ 1, 2, 3 ] + [ 4, 5, 6 ]

[1, 2, 3, 4, 5, 6]

In [ ]:
#40
#What is the command to sort a list?

a = [5, 2, 8, 3, 9, 1]

a.sort()
a

[1, 2, 3, 5, 8, 9]

In [ ]:
#42
#Which of the following statements is used when a statement is required syntactically but you do not
#want any command or code to execute?
#a. break
#b. continue
#c. pass               '''used to have no effect on the control flow'''
#d. None of the above.

In [ ]:
#43
#What is the result of this code?

tup  = ("hi", "Python", 2)
print (type(tup))
print (tup)
print (tup[1:])
print (tup[0:1])
print (tup + tup)
print (tup * 3)
tup[2] = "hi"# what is the updated tup? '''shows type error

<class 'tuple'>
('hi', 'Python', 2)
('Python', 2)
('hi',)
('hi', 'Python', 2, 'hi', 'Python', 2)
('hi', 'Python', 2, 'hi', 'Python', 2, 'hi', 'Python', 2)

TypeError: ignored

In [ ]:
#44
#What is the result of this code?
for x in range(21,5,-3):
 print(x)

21
18
15
12
9
6

In [ ]:
#45
#What is the result of this code?

for i in range(0,5):
 print(i)
 break;

0

In [ ]:
#46
#Program to check whether a number is even or not.

a = int(input('enter the number '))

if a % 2 == 0:
  print('it is even')
else:
  print('not even')

enter the number 5
not even

In [ ]:
#47
#Bring this output using loops.
#*
#**
#***
#****
#*****
for i in range(5):
  print('*'*(i+1))

*
**
***
****
*****

In [ ]:
#48
#Write a Python program to get the Python version you are using? 

import sys

print("Python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python version
3.9.16 (main, Dec  7 2022, 01:11:51)
[GCC 9.4.0]
Version info.
sys.version_info(major=3, minor=9, micro=16, releaselevel='final', serial=0)

In [ ]:
#49
#Write a python program to find prime numbers within a given interval?
start = int(input('enter the start of the interval: '))
end = int(input('enter the end of the interval: '))

print('prime numbers between', start, 'and', end, 'are:')

for num in range(start, end + 1):
  if num > 1:
   for i in range(2, num):
     if (num % i) == 0:
       break
   else:
       print(num)

enter the start of the interval: 2
enter the end of the interval: 50
prime numbers between 2 and 50 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#50
#Find the cube root of a number in python programming?

a = int(input('enter the number: '))

cuberoot = a ** (1/3)

print(cuberoot)

enter the number: 64
3.9999999999999996

In [ ]:
#51
#Write a Python program that will accept the base and height of a triangle and compute the area?

b = int(input('base of triangle: '))
h = int(input('height of triangle: ')) 

a = 0.5 * b * h

print(a)

base of triangle: 4
height of triangle: 5
10.0

In [ ]:
#52
#Write a Python program to solve (x + y) * (x + y)?
x = int(input('value of x: '))
y = int(input('value of y: '))

u = (x + y) * (x + y)
u

value of x: 9
value of y: 10

361

In [ ]:
#53
#Write a Python program to calculate the sum of three given numbers, if the values are equal then
#return thrice of their sum?

num1 = int(input('num1: '))
num2 = int(input('num2: '))
num3 = int(input('num3: '))

total = num1 + num2 + num3

if num1 == num2 == num3:
  total = total*3
  print(total)
else:
  print(total)

num1: 4
num2: 4
num3: 4
36

In [ ]:
#54
#Write a Python program to compute the distance between the points (x1, y1) and (x2, y2)?

import math

x1 = int(input('x1: '))
x2 = int(input('x2: '))
y1 = int(input('y1: '))
y2 = int(input('y2: '))

dist = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

dist

x1: 6
x2: 7
y1: 8
y2: 9

1.4142135623730951

In [ ]:
#55
#Write a Python program to calculate body mass index?

h = float(input('enter your height in meters: '))
w = float(input('enter your weight in kilograms: '))

bmi = w / (h ** 2)

print('Your body mass index (BMI) is:', round(bmi, 2))

if bmi < 18.5:
    print('you are underweight ')
elif bmi >= 18.5 and bmi < 25:
    print('you are of normal weight')
elif bmi >= 25 and bmi < 30:
    print('you are overweight ')
else:
    print('you are obese')

enter your height in meters: 1.80
enter your weight in kilograms: 76
Your body mass index (BMI) is: 23.46
you are of normal weight

In [ ]:
#56
#Write a Python program to filter the positive numbers from a list?

numbers = [1, -9, 3, -4, 5, -6, 7, -33, 9, -11]
positive_numbers = []

for num in numbers:
    if num > 0:
        positive_numbers.append(num)

print("Positive numbers in the list:", positive_numbers)

Positive numbers in the list: [1, 3, 5, 7, 9]

In [ ]:
#57
#Write a Python program to test if a variable is a list or tuple or a set?
# define a sample list, tuple, and set
a = [1, 2, 3]
b = (4, 5, 6)
c = {7, 8, 9}

# check if each variable is a list, tuple, or set
if isinstance(a, list):
    print('a is a list')

if isinstance(b, tuple):
    print('b is a tuple')

if isinstance(c, set):
    print('c is a set')

a is a list
b is a tuple
c is a set

In [ ]:
#58
#Write a Python program to check if a number is positive, negative or zero?

num = float(input("Enter a number: "))
if num > 0:
    print("The number is positive")
elif num == 0:
    print("The number is zero")
else:
    print("The number is negative")

Enter a number: -20
The number is negative

In [ ]:
#58
#Write a Python program to test whether a passed letter is a vowel or not?

letter = input("Enter a letter: ")

if letter in ['a', 'e', 'i', 'o', 'u']:
    print("The letter is a vowel.")
else:
    print("The letter is not a vowel.")

Enter a letter: k
The letter is not a vowel.

In [ ]:
#59
#Write a program to display the multiplication table of a given number?

num = int(input("Enter a number: "))

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#60
#Write a program to add two matrices using loops?

a = [[2,3,5],
     [6,7,8],
     [9,10,11]]
     

b = [[12,13,14],
     [15,16,17],
     [18,19,20]]

result= [[0,0,0,],
         [0,0,0],
         [0,0,0]]
for i in range(len(a)):
  for j in range(len(a[0])):
    result[i][j]= a[i][j] + b[i][j]

for r in result:
  print(r)

[14, 16, 19]
[21, 23, 25]
[27, 29, 31]